html {
	background: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.assetsdelivery.com%2Fcompings_v2%2Fxanya69%2Fxanya691705%2Fxanya69170500219.jpg&imgrefurl=https%3A%2F%2Fus.clipdealer.com%2Fphoto%2Fmedia%2FA%3A79089620&tbnid=Fhpm00RGFskjRM&vet=12ahUKEwig-M2xq6fuAhVQP-wKHdm8CgcQMygVegUIARDKAQ..i&docid=_L1Guo_GfMBIAM&w=450&h=321&q=royalty%20free%20XXX%20background&client=firefox-b-d&ved=2ahUKEwig-M2xq6fuAhVQP-wKHdm8CgcQMygVegUIARDKAQ);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}